

.params1-title {
  color: #853117;
  font-size: 1.4rem;
  position: relative;
  margin-top: 5rem;
}
.params1-footer {
  background: #f6ae36;
  bottom: 0rem;
  position: absolute;
  width: 100%;
  padding: 1rem 0;
}
.params1-footer>p {
  color: #fff;
  font-size: 0.9rem;
  line-height: 2rem;
}
.params1-tag {
  background-image: url('../img/bj-10/bj-10-1.png');
  margin: auto;
  margin-top: 1.8rem;
  width:  90%;
  height: 100%;
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.params2-slide {
  background-image: url('../img/bj-11/bj-11.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.feature8-title{
  color: #853117;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.params2-info{
  color: #853117;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  text-align: left;
  margin-left: 4.5rem;
}