.feature-slide {
  background-image: url('../img/bj-3/bj-3.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}

.feature-content {
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 4.0rem;
}

.feature-top {
  display: flex;
  justify-content: center;
}
.feature-top div{
  width: 7rem;
  height: 1.5rem;
  margin-left: 0.4rem; 
  margin-right: 0.4rem; 
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}

.feature-title {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.feature-info {
  color: #fff;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 1.8rem;
}

.feature-tag  {
  display: flex;
  justify-content: center;
  margin-top: 1rem
}
.feature-tag>div {
  width: 2.8rem;
  height: 2.8rem;
  margin-left: 0.7rem; 
  margin-right: 0.7rem; 
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.feature-tag>div>div {
  width: 3.8rem;
  margin-left: -0.5rem;
  margin-top: 3.3rem;
  color:  #fff;
  font-size: 0.8rem;
}

.feature2-slide {
  background-image: url('../img/bj-4/bj-4.jpg');
  /* background-image: url('../img/test1.jpg'); */
  background-size:100% auto;
  -moz-background-size:100% auto;
  background-position: 50% 50%;
}
.feature2-title{
  color: #853117;
  font-size: 1.5rem;
  margin-top: 6rem;
}
.feature2-info{
  color: #853117;
  font-size: 1.1rem;
  line-height: 2rem;
  margin-top: 1.5rem;
}

.feature3-slide {
  /* background-image: url('../img/bj-5/bj-5.jpg');
  background-repeat:repeat-y;
  background-size:100% auto;
  -moz-background-size:100% auto;
  background-position: 50% 60%; */
  background: #fff;
}
.feature3-title{
  color: #853117;
  font-size: 1.5rem;
  margin-top: 0.9rem;
}
.feature3-info{
  color: #853117;
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-top: 0.6rem;
}
.feature3-top {
  display: flex;
  justify-content: center;
  margin-top:3rem;
}
.feature3-top div{
  margin-left: 0.4rem; 
  margin-right: 0.4rem; 
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.feature3-footer{
  position: absolute;
  bottom: 0;
  width:100%;
  
}
.feature3-footer>div {
  width:20rem;
  height: 21rem;
  margin: auto;
  background-image: url('../img/bj-5/xiaobu-1.png');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.feature4-slide {
  background-image: url('../img/bj-7/bj-7.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
  background-position: 50% 50%;
}
.feature4-title {
  color: #853117;
  font-size: 1.5rem;
}
.feature4-info {
  padding-top: 1.5rem;
  
}
.feature4-line {
  display: flex;
  justify-content: center;
}
.feature4-box {
  margin: 0.3rem;
  width:9rem;
  height:9rem;
  background-repeat: no-repeat;
  background-size:100% 110%;
  -moz-background-size:100% 110%;
  background-position: 50% 60%;
  border-radius: 0.3rem;
}

.feature5-slide {
  background: #fff
}
.feature5-content  {
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.feature5-title {
  color: #853117;
  font-size: 1.4rem;
  position: relative;
  margin-top: 3rem;
}
.feature5-back{
  position: relative;
  background-image: url('../img/bj-8/bj-8-2.png');
  margin: auto;
  width:  12rem;
  height: 50%;
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
@media (max-height: 568px)  {
  .feature5-back {
    width: 8rem;
  }
}
.feature5-info {
  color: #853117;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.feature5-tag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 1.3rem;
  width:100%;
}
.feature5-tag>div {
  background-image: url('../img/bj-8/bj-8-1.png');
  margin: auto;
  width:  19rem;
  height: 15rem;
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.feature5-tag>p  {
  color: #853117;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

.feature6-slide {
  background-image: url('../img/bj-9/bj-9.jpg');
  background-repeat:no-repeat;
  background-size:100% 110%;
  -moz-background-size:100% 110%;
  background-position: 50% 90%;
}
.feature6-tag {
  background-image: url('../img/bj-9/bj-9-1.png');
  margin: auto;
  margin-top: 1rem;
  width:  20rem;
  height: 15rem;
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}

/* .feature7-slide {
  background-image: url('../img/bj-10/bj-10.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
  background-position: 50% 50%;
} */
.feature7-footer {
  background: #f6ae36;
  bottom: 0rem;
  position: absolute;
  width: 100%;
  padding: 1rem 0;
}
.feature7-footer>p {
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
}
.feature7-tag {
  background-image: url('../img/bj-10/bj-10-1.png');
  margin: auto;
  margin-top: 2rem;
  width:  20rem;
  height: 15rem;
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.feature8-slide {
  background-image: url('../img/bj-11/bj-11.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
  background-position: 50% 50%;
}
.feature8-title{
  color: #853117;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.feature8-info{
  color: #853117;
  font-size: 0.9rem;
  margin-top: 0.4rem;
  text-align: left;
  margin-left: 5.5rem;
}

.feature9-slide {
  background-image: url('../img/bj-12/bj-12.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.feature9-title{
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.feature9-fhone {
  background-image: url('../img/bj-12/bj-12-4.png');
  margin: auto;
  margin-top: 2.5rem;
  width:  8rem;
  height: 20rem;
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.feature9-slide footer {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27.5%;
  margin-top: 0;
  background: #f6ae36;
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}
.feature9-tag {
  display: flex;
  justify-content: center;
}
.feature9-tag>a {
  margin: 2.5rem;
  width:  3.5rem;
  height: 4.2rem;
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.feature9-tag>a>div {
  width: 5.5rem;
  margin-left: -1rem;
  margin-top: 5rem;
  color:  #fff;
  font-size: 1.2rem;
}

.feature10-slide {
  background-image: url('../img/bj-13/bj-14.jpg');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
}
.feature10-title {
  color: #853117;
  font-size: 1.5rem;
  margin-top: 0.3rem;
}
.feature10-info {
  margin-top:1rem;
}

.feature10-info-tag {
  margin-left: 2.5rem;
  width:  1.6rem;
  height: 1.6rem;
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
}
.feature10-info-tag>div {
  width: 5.5rem;
  margin-left: 1.1rem;
  margin-top: 0rem;
  color:  #853117;
  font-size: 1.0rem;
}
.feature10-info-desc {
  color:  #853117;
  font-size: 0.7rem;
  margin: auto;
  margin-top:0.2rem;
  width: 15rem;
  margin-bottom: 1.2rem;
  text-align: left;
  line-height: 1.2rem;
}

.feature10-slide footer {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  margin-top: 0;
  background: none;
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}

.feature10-tag {
  width:100%;
  height:100%;
  background-image: url('../img/bj-13/bj-14-5.png');
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  padding-top: 4.5rem;
}
.feature10-tag>p {
  margin: auto;
  color:  #853117;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.feature10-tag>img {
  width: 4rem;
  height: 4rem;
  margin: auto;
}

.feature11-slide {
  background-color: #fff;
}

.feature11-content {
  max-width: 1050px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.feature11-line1 {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 4rem;
  margin: auto;
  margin-top: 3.4rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #9fa0a0;
}
.feature11-line2 {
  width: 85%;
  margin: auto;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #9fa0a0;
}
.feature11-line1>div {
  background-repeat:no-repeat;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  margin-left:0.5rem;
  margin-right:0.5rem;
}
.feature11-footer {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  background-image: url('../img/bj-14/bj-15-5_02.png');
  background-repeat:no-repeat;
  background-size:100% auto;
  -moz-background-size:100% auto;
  padding-top: 3rem;
}
.feature11-footer>p {
  color:  #853117;
  font-size: 0.8rem;
  margin: auto;
}