
.slide-home2 {
  background-image: url('https://img.alicdn.com/tfs/TB1Yi.XceSSBuNjy0FlXXbBpVXa-3840-2160.gif');
  background-position: center center;
}

.slide-home3 {
  background-position: center center;
  background-image: url('./img/ft-1200-red.jpg');
}
.home2-content {
  padding-left: 45%;
  text-align: left;
  color: #fff;
  height: 100%;
}
.home2-content a {
  /* color: #fff; */
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.home2-top {
  width: 590px;
  padding-left: 18px;
  text-align: left;
}
.home2-name {
  height: 54px;
  text-indent: -800px;
  overflow: hidden;
  background: url('/home/img/title_x1.png') no-repeat 50%;
  background-size: cover;
}

.home2-icon {
  margin-bottom: 5px;
  text-align: right;
  font-size: 13px;
  line-height: 31px;
}
.home2-icon img {
  margin-left: 5px;
  vertical-align: top;
  height: 31px;
}

.home2-slogan {
  margin: 16px 0 40px;
  font-size: 112px;
  padding: 0 0 15px 18px;
  height: 156px;
  width: 586px;
  text-align: center;
  line-height: 156px;
  color: rgba(255,255,255, .45);
  background: url('/home2/img/lang-border-1200.png') no-repeat;
}
.home2-slogan .comma {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  overflow: hidden;
}
.home2-bottom > div {
  display: inline-block;
  vertical-align: top;
  padding: 3px 0 0 15px;
}
.home2-price {
  float: left;
  padding: 0 !important;
  font-size: 46px;
  line-height: 1;
}
.home2-price-tip {
  float: left;
  font-size: 12px;
  width: 12px;
  border: 1px solid #fff;
  border-radius: 80%/40%;
  padding: 5px;
  margin-top: 13px;
}
.home2-bottom {
  margin-left: 290px;
}
.home2-buy {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px 3px 0;
  width: 162px;
  height: 40px;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  background: url('/home2/img/buy-border.png') no-repeat;
}
.home2-top.only-320 {
  display: none;
}

@media (max-width: 1200px) {
  .slide-home2 {
    background-image: url('https://img.alicdn.com/tfs/TB1Bxkncb9YBuNjy0FgXXcxcXXa-1520-1320.jpg')
  }

  .slide-home3 {
    background-image: url('./img/ft-760-red.png')
  }
  
  .home2-content {
    padding-left: 42%;
  }
  .home2-top {
    width: 380px;
    padding-left: 12px;
  }
  .home2-name {
    height: 34px;
  }
  .home2-icon {
    font-size: 10px;
    line-height: 20px;
  }
  .home2-icon img {
    margin-left: 0;
    height: 20px;
  }

  .home2-slogan {
    height: 102px;
    margin-bottom: 20px;
    padding: 0 0 10px 12px;
    width: 381px;
    font-size: 80px;
    line-height: 102px;
    background-image: url('/home2/img/lang-border-1200.png');
  }
  .home2-slogan .comma {
    width: 20px;
  }
  /* .home2-price-tip {
    font-size: 8px;
    margin-top: 11px;
    width: 8px;
    padding: 5px 3px;
  } */
  .home2-bottom {
    margin-left: 80px;
  }
}

@media screen and (min-width:769px) and (max-width:1200px){
  .slide-home3 {
    background-image: url(./img/ft-1200-red.jpg);
    background-position: 30% center;
  }
}

@media screen and (min-width:768px) and (max-width:768px){
  .slide-home3 {
    background-image: url('./img/ft-320-red.png');
    background-position: center 30%;
  }
}
@media (max-width: 767px) {
  .slide-home2 {
    padding-top: 30px;
    background-image: url('https://img.alicdn.com/tfs/TB1.iP4cmCWBuNjy0FhXXb6EVXa-640-1136.jpg');
  }

  .slide-home3 {
    padding-top: 30px;
    background-image: url('./img/ft-320-red.png');
  }
  .home2-content {
    padding-left: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 300px;
    margin: auto;
  }
  .home2-top {
    width: 240px;
    padding-left: 10px;
  }
  .home2-name {
    height: 22px;
  }
  .home2-slogan {
    background: url('/home2/img/lang-border-320.png') no-repeat left bottom;
    padding-left: 32px;
    margin: 3px 0 18px;
    height: 75px;
    font-size: 40px;
    text-align: left;
  }
  .home2-buy {
    margin-bottom: 10px
  }
  /* .home2-price-tip {
    font-size: 14px;
    margin-top: 11px;
    width: 44px;
    padding: 2px 4px;
    position: absolute;
    left: 10px;
    top: -22px;
    border-radius: 25%/50%;
  } */
  .home2-bottom {
    position:relative;
    margin-left: 0;
  }
  .home2-name-div{
    display: inline-block;
  }
  .home2-bottom > div {
    font-size: 40px;
  }
}





